


th, td {
  text-align: left;
  padding: 8px;
  color: white;
}

tr:nth-child(even){background-color: #000000}
tr:nth-child(odd){background-color: #000000}

th {
  background-color: #483D8B;
  color: white;
}
table {
background-image: url(image/HuGGeENt6kGyixe3hT9tnY-1200-80.jpg);
}
